<!DOCTYPE html>
<div class = "face-snap-card" *ngIf="faceSnap$ |async as faceSnap" [ngClass]="{ snapped: buttonText === 'Oops, un Snap!'}">
    <h2>{{ faceSnap.title }}</h2>
    <a routerLink="/facesnaps">Back</a>
    <p> Mis en ligne le {{ faceSnap.createdDate | date:'longDate' }} </p>
    <img [src]="faceSnap.imageUrl" [alt] ="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onSnap(faceSnap.id)">{{buttonText}}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">{{ faceSnap.snaps }}</span> 
    </p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
