

<div class="landing-block">

    <img src="https://user.oc-static.com/upload/2021/11/03/16359356220203_snapface.png" alt="logoSnapFace">
    <div class= "landing-links">
        <button class="snapped" (click)="toSnapFace()">Continuer vers Snapface</button>
    </div>
</div>

<form #emailForm = "ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput">Inscrivez vous à notre newsletter !</label>
    <input type="email" id="emailInput" name="userEmail" [(ngModel)]="emailInput">
    <button type="submit">OK!</button>
</form>